
*{
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: normal;
    color: azure;
    --left-nav-width: 200px
}
body{
    background-color: black;
    display: flex;
    margin: 0;
}
body .main-document{
    width: calc(98vw - var(--left-nav-width));
    display: flex;
    flex-flow: column;
}
header{
    width: 100%;
    height: 10vh;
}
nav{
    width: var(--left-nav-width);
    background-color: rgba(200, 200, 200, 0.4);
    height: 100vh;
    margin-right: 20px;
}
main{
    width: 100%;
    grid-column: 2/var(--end-column);
    overflow-y: auto;
    height: 80vh;
}
footer{
    height:6vh;
    width: 100%;
    grid-column: 1/var(--end-column);
}